@charset "UTF-8";
@media (max-width: 800px) {
    body{
        background: linear-gradient(180deg,#007bb0 10%, #0087BF 45%, #FFFFFF);
    }

    header{
        background-color: #007bb0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        font-family: 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400px;
        line-height: 32px;
        color: #FFFFFF;
        padding: 20px 0px;
    }
    
    nav{
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    .conteudo-principal{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        margin: auto;
        padding: 60px;

        
    }
    
    .conteudo-principal-escrito{
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        text-align: center;
    }

    .conteudo-principal-imagem{
        display: none;
    }
    
    .titulo-principal{
        font-family: 'Arial';
        font-style: bold;
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        padding-bottom: 10px;
    }

    
    .conteudo-secundario{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        padding: 10px 60px;
    }

    .retangulo-1{
        background-color: #FFFFFF;
        width: 250px;
        height: 380px;
        border-radius: 35px;
    }
    
    .retangulo-1-img{
        padding: 40px 25px 0px 25px;
        width: 178.69px;
        height: 189px;
        border-radius: 35.1313px;
    }
    
    .retangulo-1-escrito{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #0087BF;
    }

    .retangulo-2{
        background-color: #FFFFFF;
        width: 250px;
        height: 380px;
        border-radius: 35px;
    }
    
    .retangulo-2-img{
        padding: 40px 25px 0px 25px;
        width: 178.69px;
        height: 189px;
        border-radius: 35.1313px;
    }
    
    .retangulo-2-escrito{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;

        color: #0087BF;
    }

    .retangulo-3{
        background-color: #FFFFFF;
        width: 250px;
        height: 380px;
        border-radius: 35px;
    }
    
    .retangulo-3-img{
        padding: 40px 25px 0px 25px;
        width: 178.69px;
        height: 189px;
        border-radius: 35.1313px;
    }
    
    .retangulo-3-escrito{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #0087BF;
    }

    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
        gap: 30px;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    footer > p > a{
        font-family: 'Arial', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        color: #0087BF;
        text-decoration: none;
}
}